@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
  --accent: #10b981;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* overflow-x: hidden removido para não quebrar o GSAP Pinning */
  -webkit-font-smoothing: antialiased;
}

a,
button,
[role="button"] {
  cursor: none !important;
}

/* Grid Técnico de Fundo */
.bg-grid-pattern {
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 40px 40px;
  mask-image: radial-gradient(circle at center, black 40%, transparent 80%);
}

/* Scrollbar Customizada com Glow */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050505;
  border-left: 1px solid #1f2937;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 10px;
  box-shadow:
    inset 0 0 6px rgba(0, 0, 0, 0.5),
    0 0 5px #10b981,
    0 0 15px rgba(16, 185, 129, 0.6);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #34d399;
  box-shadow:
    inset 0 0 6px rgba(0, 0, 0, 0.5),
    0 0 10px #34d399,
    0 0 25px rgba(52, 211, 153, 0.8);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
